@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Rubik", ui-sans-serif, system-ui, sans-serif;
}

@utility font-heading {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
