---
import "../styles/global.css";
import { Font } from "astro:assets";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="coffee">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-heading" preload />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-base-200 font-sans">
    <slot />
  </body>
</html>
